.collection {
  min-height: 720px;
  padding-bottom: 250px;
}
.nftBoxContent {
  padding: 260px 0 200px;
}

.nftDesc {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 40px;
}
.progressBox{
  padding-right: 50px;
}
.progressTitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 8px;
}
.progressTitle span {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 8px;
  color: #f6ad0b;
}
.progressDesc {
  line-height: 16px;
  opacity: 0.5;
  margin-bottom: 16px;
}

.nftBox {
  padding-top: 160px;
  background: linear-gradient(165.93deg, #32205e 13.17%, #1d1238 66.98%);
  border-radius: 16px;
  width: 100%;
  height: 100%;
  padding: 50px;
}
.nftTitle {
  font-size: 40px;
  font-weight: 700;
  line-height: 32px;
  margin: 24px 0;
  padding-bottom: 24px;
  border-bottom: 3px solid #342162;
}
.traitTitle {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 8px;
}
.traitTitle span.traitName {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 8px;
  color: #f6ad0b;
  margin-right: 5px;
}
.traitDesc {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  opacity: 0.5;
}

.voteDesc{
  font-size: 22px;
  line-height: 32px;
  font-weight: 500;
  color: #f6ad0b;
}
.voteDescSmaller{
  font-size: 18px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 40px;
}
.attr{
  font-size: 18px;
  line-height: 32px;
  max-width: 450px;
  margin-left: 16px;
}
.voteBox{
  height: 100%;
  margin-bottom: 16px;
}



@media screen and (max-width: 1500px) {
  .nftBox {
    padding: 40px;
  }
  .traitTitle {
    font-size: 18px;
  }
  .traitTitle span.traitName {
    font-size: 18px;
  }
  .attr{
    max-width: 375px;
  }
}

@media screen and (max-width: 1400px) {
  .traitTitle {
    font-size: 16px;
  }
  .traitTitle span.traitName {
    font-size: 16px;
  }
  .progressBox{
    padding-right: 30px;
  }
  .progressTitle {
    font-size: 20px;
  }
  .progressTitle span {
    font-size: 20px;
  }
  .progressDesc {
    line-height: 16px;
    opacity: 0.5;
    margin-bottom: 16px;
  }
  .nftBox {
    padding: 35px;
  }
}

@media screen and (max-width: 1199px) {
  .videoTitle {
    font-size: 24px;
    line-height: 32px;
  }
  .videoText {
    padding: 20px;
    font-size: 14px;
  }

  .collection {
    padding: 100px 0;
    min-height: auto;
  }
  .nftBoxContent {
    padding: 0;
  }
  .nftBox {
    padding: 100px;
  }
  .progressBox{
    padding: 0 15px;
  }
  .attr{
    max-width: none;
  }
}
@media screen and (max-width: 899px) {
  .collection {
    margin: 70px 0;
    padding-bottom: 0;
  }
  .episodes {
    padding: 70px 0;
  }
  .nftBox {
    padding: 50px;
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 599px) {
  .nftBtn {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .collection {
    padding: 50px 0;
  }
  .nftDesc {
    font-size: 16px;
  }
  .nftBox {
    padding: 50px 15px 100px;
  }
  .nftTitle {
    font-size: 32px;
  }
  .voteDesc{
    font-size: 20px;
  }
  .voteDescSmaller{
    font-size: 16px;
    line-height: 32px;
  }
  .attr{
    font-size: 16px;
    line-height: 32px;
  }
}
