.overflow {
  margin-right: -600px;
}
.swiper {
  padding-top: 130px;
  margin-bottom: 180px;
}

.slideBox {
  max-width: 240px;
  height: 290px;
  width: 100%;
  border-radius: 24px;
  background: radial-gradient(
      48.36% 356.25% at 93.75% 100%,
      rgba(226, 9, 201, 0.2) 0%,
      rgba(226, 9, 201, 0) 100%
    ),
    linear-gradient(
      309.06deg,
      #ee05c8 -63.86%,
      #ee05c8 5.08%,
      rgba(243, 3, 199, 0) 75.67%
    ),
    #4d39d7;
}
.backBox {
  border-radius: 24px;
  height: 288px;
  width: 98%;
  background: #342162;
}
.roadTitle {
  font-size: 32px;
  font-weight: 700;
  color: #f6ad0b;
  margin-bottom: 8px;
}
.roadDesc {
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
}

@media screen and (max-width: 1199px){
  .overflow{
    margin: 0;
  }
}

@media screen and (max-width: 899px){
  .roadTitle {
    font-size: 28px;
  }
  .roadDesc {
    font-size: 16px;
    line-height: 24px;
  }
}