* {
  font-family: "DM Sans", sans-serif !important;
  font-size: 16px;
  color: #fff;
}
body {
  background: #1d1238;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.flex-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-space-end {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
}
.btn {
  background: #fd39df;
  border: 1px solid #941581;
  height: 56px;
  color: #ffffff;
  box-shadow: 0px 6px 24px #770baa;
  border-radius: 16px;
  transition: all 0.3s ease;
}
.menu-position {
  justify-content: flex-end;
}

.menu-position button {
  margin: 0 16px;
  font-weight: 500;
  font-size: 16px;
  text-transform: none;
  border-bottom: 2px solid transparent;
  border-radius: 0;
}
.menu-position button:first-child {
  margin: 0 16px 0 0;
}
.menu-position button:hover {
  background: none;
  border-bottom: 2px solid #ee05c8;
}

.title-section {
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  text-transform: capitalize;
  margin-bottom: 32px;
}

/* progress bar */
.MuiLinearProgress-root {
  height: 24px;
  border-radius: 16px;
  background: #492c91;
  opacity: 0.5;
}
.MuiLinearProgress-bar {
  background: #342162;
  border-radius: 16px;
}

#collection .swiper {
  height: 100%;
}
.swiper-button-prev {
  background: url("../public/images/nft/prev.svg") center center no-repeat !important;
}
.swiper-button-next {
  background: url("../public/images/nft/next.svg") center center no-repeat !important;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  content: "" !important;
}
.swiper-button-next,
.swiper-button-prev {
  color: #fff !important;
  width: 56px !important;
  height: 56px !important;
  padding: 28px;
  border: 2px solid rgba(137, 108, 207, 0.6);
  border-radius: 16px;
  transition: all 0.3s ease;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #fd39df !important;
}

.mt-4 {
  margin-top: 70px;
}

.accordion {
  background-color: transparent;
}

.Mui-expanded .acc-title {
  color: #f6ad0b !important;
}
.acc-title {
  font-size: 24px;
  line-height: 32px;
}
.Mui-expanded .MuiAccordionSummary-content,
.MuiAccordionSummary-content {
  margin: 16px 0 !important;
}
.MuiAccordionSummary-expandIconWrapper {
  width: 56px;
  height: 56px;
  border: 2px solid rgba(137, 108, 207, 0.6);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  background: #000113;
  width: 100%;
  height: 70px;
}

.d-xs-none {
  display: none;
}

#roadmap .swiper-slide {
  opacity: 0.3;
}
#roadmap .swiper-slide-active {
  opacity: 1;
}

#roadmap .swiper-pagination {
  top: 40px;
  bottom: auto;
  height: 32px;
  text-align: left;
  background: url("../public/images/background/line.png") center center no-repeat;
  width: 100%;
  padding-left: 35px;
  max-width: 1536px;
}
#roadmap .swiper-pagination-bullet {
  width: 32px;
  height: 32px;
  border: 2px solid #59438f;
  margin: 0;
  margin-right: 201.5px;
}
#roadmap .swiper-pagination-bullet:last-child{
  margin-right: 0;
}
#roadmap .swiper-pagination-bullet-active {
  background: #fff;
  border: 11px solid #8e76c7;
}


@media screen and (min-width: 1620px) {
  .MuiContainer-root {
    padding: 0 80px;
  }
}

@media screen and (max-width: 1619px) {
  .MuiContainer-root {
    padding: 0 5%;
  }
}

@media screen and (max-width: 1199px) {
  .d-lg-none {
    display: none;
  }
  #menu-appbar .MuiPopover-paper {
    background: #342162;
    max-height: 100vh;
    max-width: 100%;
    width: 100%;
    height: 100%;
    top: 65px !important;
    left: 0 !important;
    right: 0 !important;
  }
  .social-down {
    position: absolute;
    bottom: 100px;
    left: 50%;
    margin-left: -70px;
  }
  #menu-appbar ul {
    height: 100%;
  }
  #roadmap .swiper-pagination {
    max-width: 1100px;
    padding-left: 20px;
    background: url("../public/images/background/line.png") center left no-repeat;
  }
  #roadmap .swiper-pagination-bullet {
    margin-right: 135px;
  }
}

@media screen and (max-width: 899px){
  #roadmap .swiper-pagination-bullet {
    margin-right: 68px;
  }
}

@media screen and (max-width: 599px) {
  .title-section {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 16px;
  }
  .d-xs-none {
    display: block;
  }
  .acc-title {
    font-size: 20px;
  }
  #menu-appbar .MuiPopover-paper {
    top: 57px !important;
  }
  .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: #ee05c8 !important;
  }
  .swiper-button-next,
  .swiper-button-prev {
    top: 80% !important;
  }
  #collection .swiper {
    padding-bottom: 50px;
  }
  #roadmap .swiper-pagination {
    display: none;
  }
}
